.btn-up {
  position: fixed;
  z-index: 20;
  background: $green;
  height: 50px;
  width: 50px;
  right: 30px;
  bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  opacity: 0;
  transition: all 0.2s linear;
  cursor: pointer;

  &_visible {
    opacity: 1;
  }
}
