.skills {
  background: url(../images/skills-back.jpg);
  background-repeat: repeat;

  &__main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 15px;
    column-gap: 30px;
    margin: 0 auto;
    max-width: 1300px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 25px;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;

    &:hover {
      background: white;
      border-color: #f1f1f1;
    }

    &:hover .skills__img {
      transform: rotateY(360deg);
    }

    @media screen and (max-width: 1200px) {
      padding: 40px 15px;
    }

    @media screen and (max-width: 768px) {
      padding: 40px 15px;
    }
  }

  &__img-container {
    background: #fff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    box-shadow: 0px 3px 5px 0px #45444414;
    border: 1px dashed #e1e1e1;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 59px;
    height: 59px;
    max-width: 300px;
    transform: rotate(0deg);
    transition: 0.5s linear;
  }

  &__title {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 700;
    font-style: normal;
    color: $text;
    margin: 0 0 10px;
  }

  &__subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
    color: #747373;
    text-align: center;
  }
}
