.tabs {
  &__container {
    margin-bottom: 25px;
  }

  &__tab {
    outline: none;
    color: #545353;
    font-size: 15px;
    font-weight: 700;
    padding: 0 0 7px;
    font-style: normal;
    font-weight: bolder;
    text-transform: uppercase;
    border: none;
    background: none;
    border-bottom: 2px solid transparent;
    margin-right: 30px;
    cursor: pointer;

    &_active {
      border-color: $green;
    }
  }

  &__content {
    padding: 0;
    margin: 0;
    list-style: none;

    & li {
      animation: slide-down 0.3s ease-out;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 26px;
    color: #747373;
    margin: 0;
    display: none;

    &_active {
      display: block;
    }
  }

  &__review {
    display: none;
    &_active {
      display: block;
    }
  }

  &__sub-header {
    display: flex;
    align-items: flex-start;
  }

  &__avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-top: 5px;
  }

  &__comment {
    margin-bottom: 40px;
  }

  &__stars {
    color: $green;
    height: 1.618em;
    line-height: 1.618;
    font-size: 1em;
    width: 5.3em;
    font-weight: 400;
    margin: 0;
  }

  &__name-container {
    margin: 0 0 13px;
    font-size: 14px;
    line-height: 26px;
    color: #747373;
  }

  &__name {
    font-weight: bolder;
    color: $text;
  }

  &__text {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    color: #747373;
  }
}
